*{margin: 0;padding: 0;}
html{
	font-family: "Helvetica Neue","Arial","PingFang SC","Hiragino Sans GB","STHeiti","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.content{
	width: 100%;
	height: 100%;
	position: relative;
}
.main{
	width: 100%;
	position: absolute;
	background-image: url(http://odhm8f5nc.bkt.clouddn.com/QQ%E6%88%AA%E5%9B%BE20160816164110.png);
	background-repeat: no-repeat;
	background-color: #396;
	background-size: 120% auto;
	background-position: 10% 0;
}
.main-blog{
	position: fixed;
	width: 400px;
	border-radius: 10px;
	background-color: rgba(0,0,0,.8);
	left: 50%;
	bottom: 50%;
	margin-left: -200px;
}
.main-blog h3{
	text-align: center;
	color: #fff;
	line-height: 50px;
	font-weight: normal;
	font-size: 30px;
	border-bottom: 2px solid #396;
}
.main-list ul li{
	list-style: none;
	float: left;
	line-height: 40px;
	width: 25%;
	text-align: center;
}
.main-list ul li a{
	text-decoration: none;
	color: #fff;
}
.main-list ul li a:hover{
	color: #396;
}
.main-foot{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	background-color: #396;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 1.5;
}
.main-foot a{
	color: #fff;
	text-decoration: none;
}
.main-foot a:hover{
	text-decoration: underline;
}
@media screen and (max-width: 400px) {
	.main-blog h3{
		font-size: 20px;
	}
	.main-blog{
		width: 200px;
		margin-left: -100px;
	}
	.main-list ul li{
		float: none;
		width: 100%;
	}
}